* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
}

.products {
  display: flex;
  flex: 2;
  flex-direction: column;
}

.navigation {
  background-color: #ff7f50;
  min-height: 200px;
  display: flex;
  flex: 1;
}

.products_list {
  background-color: #006400;
  min-height: 200px;
  display: flex;
  flex: 1;
}

.news {
  background-color: #0ff;
  min-height: 200px;
  display: flex;
  flex: 1;
}

.text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: lowercase;
  margin: 8px;
  background-color: #faebd7;
  border-radius: 4px;
  margin: auto;
  padding: 8px;
}

@media screen and (min-width: 600px) {
  .products {
    flex-direction: row;
    flex: 2;
  }
}

@media screen and (min-width: 900px) {
  .container {
    flex-direction: row;
  }
}
