* {
  box-sizing: border-box;
}

.container {
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; */
}

.navigation {
  background-color: #ff7f50;
  min-height: 200px;
  display: flex;
  flex: 1;
}

.products_list {
  background-color: #006400;
  min-height: 200px;
  display: flex;
  flex: 1;
}

.news {
  background-color: #0ff;
  min-height: 200px;
  display: flex;
  flex: 1;
}

.text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: lowercase;
  margin: 8px;
  background-color: #faebd7;
  border-radius: 4px;
  margin: auto;
}

@media screen and (min-width: 600px) and (max-width: 899px) {
  .products {
    display: flex;
    flex: 2;
  }
}

@media screen and (min-width: 900px) {
  .container {
    display: flex;
  }
}
