* {
  box-sizing: border-box;
}

form {
  margin: 32px;
  display: block;
}

input,
textarea,
select,
button,
.languages {
  margin: 8px;
  /* display: block; */
  display: flex;
  align-items: normal;
}

input[type='radio'] {
  display: inline;
  margin: 0;
}

/* input[name='like'] {
  margin-top: 16px;
  margin-bottom: 16px;
} */
