* {
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* @media screen and (min-width: 600px) and (max-width: 899px) {
  .products {
    display: flex;
    flex: 2;
  }
}

@media screen and (min-width: 900px) {
  .container {
    display: flex;
  }
} */
